ITVDataFactoryTutorial09-26-22-11-21-59/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ITVDataFactoryTutorial09-26-22-11-21-59"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"DealCloudRestAPI_GetToken_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DealCloudRestAPI_GetToken'"
		},
		"Dynamics1_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'Dynamics1'"
		},
		"DealCloudRestAPI_GetToken_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://itventuresandbox.dealcloud.eu/api/rest/v1/oauth/token"
		},
		"DealCloudRestAPI_GetToken_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "17477"
		},
		"Dynamics1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "6ce7f980-bd27-4dfd-a2cb-11dbe969229a"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ErrorTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call Logic App",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Error Message",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-07.uksouth.logic.azure.com:443/workflows/001b9f591b3148c1b06a8220fb07a688/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ihI-RYuymVlIfJdqeQomOrDi_Oi9Uby8nNnuzDHdEis",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"datafactoryName\": \"@{pipeline().DataFactory}\",\n    \"errorMessage\": \"@{variables('errorMessage')}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Error Message",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "errorMessage",
							"value": "Test error message."
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"errorMessage": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-05T15:31:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamics test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DynamicsSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "accountid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "accountidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "accountidyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "accountrolecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "address1_addressid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "address1_addresstypecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "address1_city",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "address1_composite",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "address1_country",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "address1_county",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "address1_fax",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "address1_freighttermscode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "address1_latitude",
											"type": "Double"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "address1_line1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "address1_line2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "address1_line3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 16
										}
									},
									{
										"source": {
											"name": "address1_longitude",
											"type": "Double"
										},
										"sink": {
											"type": "String",
											"ordinal": 17
										}
									},
									{
										"source": {
											"name": "address1_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 18
										}
									},
									{
										"source": {
											"name": "address1_postalcode",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 19
										}
									},
									{
										"source": {
											"name": "address1_postofficebox",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 20
										}
									},
									{
										"source": {
											"name": "address1_primarycontactname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 21
										}
									},
									{
										"source": {
											"name": "address1_shippingmethodcode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 22
										}
									},
									{
										"source": {
											"name": "address1_stateorprovince",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 23
										}
									},
									{
										"source": {
											"name": "address1_telephone1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 24
										}
									},
									{
										"source": {
											"name": "address1_telephone2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 25
										}
									},
									{
										"source": {
											"name": "address1_telephone3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 26
										}
									},
									{
										"source": {
											"name": "address1_upszone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 27
										}
									},
									{
										"source": {
											"name": "address1_utcoffset",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 28
										}
									},
									{
										"source": {
											"name": "address2_addressid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 29
										}
									},
									{
										"source": {
											"name": "address2_addresstypecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 30
										}
									},
									{
										"source": {
											"name": "address2_city",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 31
										}
									},
									{
										"source": {
											"name": "address2_composite",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 32
										}
									},
									{
										"source": {
											"name": "address2_country",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 33
										}
									},
									{
										"source": {
											"name": "address2_county",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 34
										}
									},
									{
										"source": {
											"name": "address2_fax",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 35
										}
									},
									{
										"source": {
											"name": "address2_freighttermscode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 36
										}
									},
									{
										"source": {
											"name": "address2_latitude",
											"type": "Double"
										},
										"sink": {
											"type": "String",
											"ordinal": 37
										}
									},
									{
										"source": {
											"name": "address2_line1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 38
										}
									},
									{
										"source": {
											"name": "address2_line2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 39
										}
									},
									{
										"source": {
											"name": "address2_line3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 40
										}
									},
									{
										"source": {
											"name": "address2_longitude",
											"type": "Double"
										},
										"sink": {
											"type": "String",
											"ordinal": 41
										}
									},
									{
										"source": {
											"name": "address2_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 42
										}
									},
									{
										"source": {
											"name": "address2_postalcode",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 43
										}
									},
									{
										"source": {
											"name": "address2_postofficebox",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 44
										}
									},
									{
										"source": {
											"name": "address2_primarycontactname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 45
										}
									},
									{
										"source": {
											"name": "address2_shippingmethodcode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 46
										}
									},
									{
										"source": {
											"name": "address2_stateorprovince",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 47
										}
									},
									{
										"source": {
											"name": "address2_telephone1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 48
										}
									},
									{
										"source": {
											"name": "address2_telephone2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 49
										}
									},
									{
										"source": {
											"name": "address2_telephone3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 50
										}
									},
									{
										"source": {
											"name": "address2_upszone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 51
										}
									},
									{
										"source": {
											"name": "address2_utcoffset",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 52
										}
									},
									{
										"source": {
											"name": "address3_addressid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 53
										}
									},
									{
										"source": {
											"name": "address3_addresstypecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 54
										}
									},
									{
										"source": {
											"name": "address3_city",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 55
										}
									},
									{
										"source": {
											"name": "address3_composite",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 56
										}
									},
									{
										"source": {
											"name": "address3_country",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 57
										}
									},
									{
										"source": {
											"name": "address3_county",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 58
										}
									},
									{
										"source": {
											"name": "address3_fax",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 59
										}
									},
									{
										"source": {
											"name": "address3_freighttermscode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 60
										}
									},
									{
										"source": {
											"name": "address3_latitude",
											"type": "Double"
										},
										"sink": {
											"type": "String",
											"ordinal": 61
										}
									},
									{
										"source": {
											"name": "address3_line1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 62
										}
									},
									{
										"source": {
											"name": "address3_line2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 63
										}
									},
									{
										"source": {
											"name": "address3_line3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 64
										}
									},
									{
										"source": {
											"name": "address3_longitude",
											"type": "Double"
										},
										"sink": {
											"type": "String",
											"ordinal": 65
										}
									},
									{
										"source": {
											"name": "address3_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 66
										}
									},
									{
										"source": {
											"name": "address3_postalcode",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 67
										}
									},
									{
										"source": {
											"name": "address3_postofficebox",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 68
										}
									},
									{
										"source": {
											"name": "address3_primarycontactname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 69
										}
									},
									{
										"source": {
											"name": "address3_shippingmethodcode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 70
										}
									},
									{
										"source": {
											"name": "address3_stateorprovince",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 71
										}
									},
									{
										"source": {
											"name": "address3_telephone1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 72
										}
									},
									{
										"source": {
											"name": "address3_telephone2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 73
										}
									},
									{
										"source": {
											"name": "address3_telephone3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 74
										}
									},
									{
										"source": {
											"name": "address3_upszone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 75
										}
									},
									{
										"source": {
											"name": "address3_utcoffset",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 76
										}
									},
									{
										"source": {
											"name": "aging30",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 77
										}
									},
									{
										"source": {
											"name": "aging30_base",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 78
										}
									},
									{
										"source": {
											"name": "aging60",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 79
										}
									},
									{
										"source": {
											"name": "aging60_base",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 80
										}
									},
									{
										"source": {
											"name": "aging90",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 81
										}
									},
									{
										"source": {
											"name": "aging90_base",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 82
										}
									},
									{
										"source": {
											"name": "anniversary",
											"type": "DateTime"
										},
										"sink": {
											"type": "String",
											"ordinal": 83
										}
									},
									{
										"source": {
											"name": "annualincome",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 84
										}
									},
									{
										"source": {
											"name": "annualincome_base",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 85
										}
									},
									{
										"source": {
											"name": "assistantname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 86
										}
									},
									{
										"source": {
											"name": "assistantphone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 87
										}
									},
									{
										"source": {
											"name": "birthdate",
											"type": "DateTime"
										},
										"sink": {
											"type": "String",
											"ordinal": 88
										}
									},
									{
										"source": {
											"name": "business2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 89
										}
									},
									{
										"source": {
											"name": "businesscard",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 90
										}
									},
									{
										"source": {
											"name": "businesscardattributes",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 91
										}
									},
									{
										"source": {
											"name": "callback",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 92
										}
									},
									{
										"source": {
											"name": "childrensnames",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 93
										}
									},
									{
										"source": {
											"name": "company",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 94
										}
									},
									{
										"source": {
											"name": "contactid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 95
										}
									},
									{
										"source": {
											"name": "createdby",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 96
										}
									},
									{
										"source": {
											"name": "createdbyexternalparty",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 97
										}
									},
									{
										"source": {
											"name": "createdbyexternalpartyname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 98
										}
									},
									{
										"source": {
											"name": "createdbyexternalpartyyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 99
										}
									},
									{
										"source": {
											"name": "createdbyname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 100
										}
									},
									{
										"source": {
											"name": "createdbyyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 101
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"type": "String",
											"ordinal": 102
										}
									},
									{
										"source": {
											"name": "createdonbehalfby",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 103
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 104
										}
									},
									{
										"source": {
											"name": "createdonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 105
										}
									},
									{
										"source": {
											"name": "creditlimit",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 106
										}
									},
									{
										"source": {
											"name": "creditlimit_base",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 107
										}
									},
									{
										"source": {
											"name": "creditonhold",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 108
										}
									},
									{
										"source": {
											"name": "customersizecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 109
										}
									},
									{
										"source": {
											"name": "customertypecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 110
										}
									},
									{
										"source": {
											"name": "defaultpricelevelid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 111
										}
									},
									{
										"source": {
											"name": "defaultpricelevelidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 112
										}
									},
									{
										"source": {
											"name": "department",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 113
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 114
										}
									},
									{
										"source": {
											"name": "donotbulkemail",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 115
										}
									},
									{
										"source": {
											"name": "donotbulkpostalmail",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 116
										}
									},
									{
										"source": {
											"name": "donotemail",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 117
										}
									},
									{
										"source": {
											"name": "donotfax",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 118
										}
									},
									{
										"source": {
											"name": "donotphone",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 119
										}
									},
									{
										"source": {
											"name": "donotpostalmail",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 120
										}
									},
									{
										"source": {
											"name": "donotsendmm",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 121
										}
									},
									{
										"source": {
											"name": "educationcode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 122
										}
									},
									{
										"source": {
											"name": "emailaddress1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 123
										}
									},
									{
										"source": {
											"name": "emailaddress2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 124
										}
									},
									{
										"source": {
											"name": "emailaddress3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 125
										}
									},
									{
										"source": {
											"name": "employeeid",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 126
										}
									},
									{
										"source": {
											"name": "entityimage_timestamp",
											"type": "Int64"
										},
										"sink": {
											"type": "String",
											"ordinal": 127
										}
									},
									{
										"source": {
											"name": "entityimage_url",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 128
										}
									},
									{
										"source": {
											"name": "entityimageid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 129
										}
									},
									{
										"source": {
											"name": "exchangerate",
											"type": "Decimal"
										},
										"sink": {
											"type": "String",
											"ordinal": 130
										}
									},
									{
										"source": {
											"name": "externaluseridentifier",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 131
										}
									},
									{
										"source": {
											"name": "familystatuscode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 132
										}
									},
									{
										"source": {
											"name": "fax",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 133
										}
									},
									{
										"source": {
											"name": "firstname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 134
										}
									},
									{
										"source": {
											"name": "followemail",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 135
										}
									},
									{
										"source": {
											"name": "ftpsiteurl",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 136
										}
									},
									{
										"source": {
											"name": "fullname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 137
										}
									},
									{
										"source": {
											"name": "gendercode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 138
										}
									},
									{
										"source": {
											"name": "governmentid",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 139
										}
									},
									{
										"source": {
											"name": "haschildrencode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 140
										}
									},
									{
										"source": {
											"name": "home2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 141
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 142
										}
									},
									{
										"source": {
											"name": "isautocreate",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 143
										}
									},
									{
										"source": {
											"name": "isbackofficecustomer",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 144
										}
									},
									{
										"source": {
											"name": "isprivate",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 145
										}
									},
									{
										"source": {
											"name": "jobtitle",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 146
										}
									},
									{
										"source": {
											"name": "lastname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 147
										}
									},
									{
										"source": {
											"name": "lastonholdtime",
											"type": "DateTime"
										},
										"sink": {
											"type": "String",
											"ordinal": 148
										}
									},
									{
										"source": {
											"name": "lastusedincampaign",
											"type": "DateTime"
										},
										"sink": {
											"type": "String",
											"ordinal": 149
										}
									},
									{
										"source": {
											"name": "leadsourcecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 150
										}
									},
									{
										"source": {
											"name": "managername",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 151
										}
									},
									{
										"source": {
											"name": "managerphone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 152
										}
									},
									{
										"source": {
											"name": "marketingonly",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 153
										}
									},
									{
										"source": {
											"name": "mastercontactidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 154
										}
									},
									{
										"source": {
											"name": "mastercontactidyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 155
										}
									},
									{
										"source": {
											"name": "masterid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 156
										}
									},
									{
										"source": {
											"name": "merged",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 157
										}
									},
									{
										"source": {
											"name": "middlename",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 158
										}
									},
									{
										"source": {
											"name": "mobilephone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 159
										}
									},
									{
										"source": {
											"name": "modifiedby",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 160
										}
									},
									{
										"source": {
											"name": "modifiedbyexternalparty",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 161
										}
									},
									{
										"source": {
											"name": "modifiedbyexternalpartyname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 162
										}
									},
									{
										"source": {
											"name": "modifiedbyexternalpartyyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 163
										}
									},
									{
										"source": {
											"name": "modifiedbyname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 164
										}
									},
									{
										"source": {
											"name": "modifiedbyyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 165
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"type": "String",
											"ordinal": 166
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfby",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 167
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 168
										}
									},
									{
										"source": {
											"name": "modifiedonbehalfbyyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 169
										}
									},
									{
										"source": {
											"name": "msdyn_contactkpiid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 170
										}
									},
									{
										"source": {
											"name": "msdyn_contactkpiidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 171
										}
									},
									{
										"source": {
											"name": "msdyn_gdproptout",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 172
										}
									},
									{
										"source": {
											"name": "msdyn_orgchangestatus",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 173
										}
									},
									{
										"source": {
											"name": "msdyn_segmentid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 174
										}
									},
									{
										"source": {
											"name": "msdyn_segmentidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 175
										}
									},
									{
										"source": {
											"name": "nickname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 176
										}
									},
									{
										"source": {
											"name": "numberofchildren",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 177
										}
									},
									{
										"source": {
											"name": "onholdtime",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 178
										}
									},
									{
										"source": {
											"name": "originatingleadid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 179
										}
									},
									{
										"source": {
											"name": "originatingleadidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 180
										}
									},
									{
										"source": {
											"name": "originatingleadidyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 181
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"type": "String",
											"ordinal": 182
										}
									},
									{
										"source": {
											"name": "ownerid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 183
										}
									},
									{
										"source": {
											"name": "owneridname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 184
										}
									},
									{
										"source": {
											"name": "owneridtype",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 185
										}
									},
									{
										"source": {
											"name": "owneridyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 186
										}
									},
									{
										"source": {
											"name": "owningbusinessunit",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 187
										}
									},
									{
										"source": {
											"name": "owningbusinessunitname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 188
										}
									},
									{
										"source": {
											"name": "owningteam",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 189
										}
									},
									{
										"source": {
											"name": "owninguser",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 190
										}
									},
									{
										"source": {
											"name": "pager",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 191
										}
									},
									{
										"source": {
											"name": "parentcontactid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 192
										}
									},
									{
										"source": {
											"name": "parentcontactidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 193
										}
									},
									{
										"source": {
											"name": "parentcontactidyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 194
										}
									},
									{
										"source": {
											"name": "parentcustomerid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 195
										}
									},
									{
										"source": {
											"name": "parentcustomeridname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 196
										}
									},
									{
										"source": {
											"name": "parentcustomeridtype",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 197
										}
									},
									{
										"source": {
											"name": "parentcustomeridyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 198
										}
									},
									{
										"source": {
											"name": "participatesinworkflow",
											"type": "Boolean"
										},
										"sink": {
											"type": "String",
											"ordinal": 199
										}
									},
									{
										"source": {
											"name": "paymenttermscode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 200
										}
									},
									{
										"source": {
											"name": "preferredappointmentdaycode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 201
										}
									},
									{
										"source": {
											"name": "preferredappointmenttimecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 202
										}
									},
									{
										"source": {
											"name": "preferredcontactmethodcode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 203
										}
									},
									{
										"source": {
											"name": "preferredequipmentid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 204
										}
									},
									{
										"source": {
											"name": "preferredequipmentidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 205
										}
									},
									{
										"source": {
											"name": "preferredserviceid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 206
										}
									},
									{
										"source": {
											"name": "preferredserviceidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 207
										}
									},
									{
										"source": {
											"name": "preferredsystemuserid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 208
										}
									},
									{
										"source": {
											"name": "preferredsystemuseridname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 209
										}
									},
									{
										"source": {
											"name": "preferredsystemuseridyominame",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 210
										}
									},
									{
										"source": {
											"name": "processid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 211
										}
									},
									{
										"source": {
											"name": "salutation",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 212
										}
									},
									{
										"source": {
											"name": "shippingmethodcode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 213
										}
									},
									{
										"source": {
											"name": "slaid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 214
										}
									},
									{
										"source": {
											"name": "slainvokedid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 215
										}
									},
									{
										"source": {
											"name": "slainvokedidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 216
										}
									},
									{
										"source": {
											"name": "slaname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 217
										}
									},
									{
										"source": {
											"name": "spousesname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 218
										}
									},
									{
										"source": {
											"name": "stageid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 219
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 220
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 221
										}
									},
									{
										"source": {
											"name": "subscriptionid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 222
										}
									},
									{
										"source": {
											"name": "suffix",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 223
										}
									},
									{
										"source": {
											"name": "teamsfollowed",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 224
										}
									},
									{
										"source": {
											"name": "telephone1",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 225
										}
									},
									{
										"source": {
											"name": "telephone2",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 226
										}
									},
									{
										"source": {
											"name": "telephone3",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 227
										}
									},
									{
										"source": {
											"name": "territorycode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 228
										}
									},
									{
										"source": {
											"name": "timespentbymeonemailandmeetings",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 229
										}
									},
									{
										"source": {
											"name": "timezoneruleversionnumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 230
										}
									},
									{
										"source": {
											"name": "transactioncurrencyid",
											"type": "Guid"
										},
										"sink": {
											"type": "String",
											"ordinal": 231
										}
									},
									{
										"source": {
											"name": "transactioncurrencyidname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 232
										}
									},
									{
										"source": {
											"name": "traversedpath",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 233
										}
									},
									{
										"source": {
											"name": "utcconversiontimezonecode",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 234
										}
									},
									{
										"source": {
											"name": "versionnumber",
											"type": "Int64"
										},
										"sink": {
											"type": "String",
											"ordinal": 235
										}
									},
									{
										"source": {
											"name": "websiteurl",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 236
										}
									},
									{
										"source": {
											"name": "yomifirstname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 237
										}
									},
									{
										"source": {
											"name": "yomifullname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 238
										}
									},
									{
										"source": {
											"name": "yomilastname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 239
										}
									},
									{
										"source": {
											"name": "yomimiddlename",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 240
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DynamicsEntity1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-19T15:55:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DynamicsEntity1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicsEntity1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DynamicsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "contact"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dynamics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DealCloudRestAPI_GetToken')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Get Auth Token",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('DealCloudRestAPI_GetToken_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('DealCloudRestAPI_GetToken_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DealCloudRestAPI_GetToken_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dynamics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Dynamics",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://org0acb8998.crm11.dynamics.com",
					"authenticationType": "AADServicePrincipal",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalId": "[parameters('Dynamics1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('Dynamics1_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DevOpsTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TestWait",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}